@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

body {
  margin: 0;
  background: #0c1622;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
